# Editors
.vscode
*.sublime-*

# Composer
composer.phar
composer.lock

# Binarios y comprimidos
*.rar
*.zip

# Directorios
vendor/*

# Others
.DS_Store
Thumbs.db
/.phpunit.cache
/phpunit.xml
.phpunit.result.cache
